.popupAdd {
  position: fixed;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  width: 180px;
  text-align: center;
  background-color: palegoldenrod;
  color: black;
  border-radius: 5px;
  left: 15px;
  bottom: 10px;  
}


/* closePopupAdd */
.closePopupAdd {
  position: absolute;
  cursor: pointer;
  right: 5px;
  top: 5px;
  width: 10px;
  height: 10px;
}
.closePopupAdd:hover {
    opacity: 1;
}

.closePopupAdd:before, .closePopupAdd:after {
  position: absolute;
  left: 4px;
  content: ' ';
  height: 10px;
  width: 1px;
  background-color: #333;
}
.closePopupAdd:before {
  transform: rotate(45deg); 
}
.closePopupAdd:after {
  transform: rotate(-45deg);
} 
/*END closePopupAdd */



/* animation */
.animationPopupDataChanges-enter {
  opacity: 0.01;
} 

.animationPopupDataChanges-enter.animationPopupDataChanges-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animationPopupDataChanges-leave {
  opacity: 1;
}

.animationPopupDataChanges-leave.animationPopupDataChanges-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/*END animation */



